<div id="main">
  <%= image_tag 'main-img.jpg' %>
</div>

<div id="article_wrap">

  <div id="article_list">
    <% @articles.each do |article| %>
      <div>
        <h2><%= link_to article.title, "articles/#{article.id}" %></h2>
        <p><%= article.created_at %></p>
        <% if user_signed_in? && article.user_id == current_user.id %>
          <p>
            <%= link_to '編集', "articles/#{article.id}/edit" %>
            <%= link_to '削除', "articles/#{article.id}", method: :delete %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render 'layouts/sidebar' %>
  <div class="clear"></div>
</div>